:root {
    --primary-color: #344249;
    --secondary-color: #c09393;
    --tertiary-color: #638dc5a6;
  }
*{
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: rgba(192, 192, 192, 0.171);
}
p {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-shadow: 2px 2px rgb(209, 207, 207);
}
/* start of css */
.dashboard-title {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 18px;
    font-weight: lighter;
    margin-right: 30px;
    margin-left: 14px;

}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.col-sm-8 {
    padding-top: 10px;
}
.row {
    width: 100%;
}
.current-weather-container {
    display: flex;
    background-color:rgba(97, 102, 156, 0.452);
    height: 19rem;
    border: 1px solid rgba(7, 7, 7, 0.2);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.city-selected {
column-width: 100%;

}
.historyChoice {
    border: 1px solid rgb(104, 103, 103);
    background-color:rgb(255, 255, 255);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
   
    padding: 2%;
}



.search-box{
    border: none;
}
.card {
    border: none;
    background-color: rgba(192, 192, 192, 0.041);

}

.card-header {
    padding: 5px 0px 5px 0px;
    border-bottom: none;
    font-size: 25px;
}

.btn {
    border: 1px solid var(--primary-color);

}
.searchBtn {
    background: rgb(66, 96, 131);
    color: white;
    border: 3px solid rgb(115, 197, 235);
    border-radius: 10px;
}

hr {
    border-top: 1px solid black;
    opacity: 0.3;
}

#button {
    display: flex;
  
    flex-flow: column;
    width: 100%;
    background-color: rgba(168, 35, 35) !important;
}


.fave {
  background-color: seagreen;
  padding: .2cm;
  border-radius: .14cm;
  box-shadow: 0px 0px 8px rgb(24, 20, 20);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


.mode{ 
    background-color: yellow;
    padding: .2cm;
    border-radius: .14cm;
    box-shadow: 0px 0px 8px rgb(24, 20, 20);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.seve {
   background-color: red;
   padding: .2cm;
    border-radius: .14cm;
    border-end-end-radius: .25px;
    box-shadow: 0px 0px 8px rgb(24, 20, 20);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fivepara {
    background-color: rgba(97, 102, 156, 0.452);
    border-radius: 10px;
    padding: 15px;
}


#hide {
    display: none;
}

.five {
      display: block;
      j
    
}